.caratula{
    background-color: cornflowerblue;
    margin-left: 10px;
    display: flex;
    height: 140px;
    width: 90px;
    flex-direction: column-reverse;
    text-align: center;
    color: darkblue;
}
