body{
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0px;
  align-items: center;
  color: white;/* ESTE ES EL QUE NO ESTABA ?*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#linea {
  border-top: 2px solid white;
}