body{
  display: flex;
  flex-direction: column;
  background-color: black;
  margin: 0px;
  align-items: center;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#linea {
  border-top: 2px solid white;
}

#iconos{
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.icon{
  margin-top: 20px;
  width: 50%;
  align-items: center;
}

@media (min-width: 768px){
  .icon{
    width: 25%;
  }
}