#background{
    display: flex;
    height: 257px;
    background-size:cover;
    background-image: url('./pexels.jpg');
    background-repeat: no-repeat;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (min-width: 768px){

    #background{
        height: 485px;
    }
}

@media (min-width: 1024px){
    #background{
        height: 795px;
    }
}